body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

p{
    font-size: 20px;
}

ul{
    font-size: 20px;
}

.reset{
    clear: both;
}

.wrap {
    float: left; 
    margin: 5px;
}

#hobbiesH{
    color: #0f0050;
}

#pageContainer{
    width: 1200px;
    margin: 0px auto 0px auto;
}
#hobbies{
    margin: 0px 0px 0px 10px;
}

#mainHeading{
    color: #0f0050;
}

.highlight{
    color: red;
}

#introText{
    width: 750px;
    float: left;
}

#meHobbiesApp{
    width: 415px;
    float: left;
}

#skateboard{
    float: left;
    margin: 0px;
}


#codeMeme{
    float: right;
    margin: 0px;
}


#pictureMe{
    margin: 25px 0px 0px 25px;
}

#instagram{
    margin: 0px 0px 0px 25px;
}

#cats{
    height: 500px;
    margin: 25px;
}